<div class="container" style="margin-top: 2vh">
  <div class="row">
    <div class="col timer-col">
      <p class="text-center timer timer-text">{{days}}</p>
      <p class="text-center timer-ind">days</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer">:</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer timer-text">{{hours}}</p>
      <p class="text-center timer-ind">hours</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer">:</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer timer-text">{{minutes}}</p>
      <p class="text-center timer-ind">minutes</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer">:</p>
    </div>
    <div class="col timer-col">
      <p class="text-center timer timer-text">{{seconds}}</p>
      <p class="text-center timer-ind">seconds</p>
    </div>
  </div>
</div>
