<div class="container" style="margin-top: 3vh">
  <h1 class="text-center" style="font-size: max(5vw, 6vh)">Next F1 Race is&nbsp;in:</h1>
</div>
<app-timer></app-timer>
<div style="margin-top: 2.5vh; display: block; text-align: center;">
  <img src="https://flagcdn.com/256x192/za.png" style="max-height: 15vh;">
  <p class="text-center" style="margin-top: 3vh; font-size: max(2.8vw, 3.2vh)">Australian Grand Prix</p>
  <p class="text-center" style="margin-top: 4vh; font-size: max(1.9vw, 2.3vh)">Made by Jordan&nbsp;Parviainen</p>
  <p class="text-center" style="margin-top: 2vh; font-size: max(1.7vw, 2.1vh)">Special thanks to:</p>
  <p class="text-center" style="margin-top: 2vh; font-size: max(1.4vw, 2vh)">Ergast API: <a href="https://ergast.com/mrd/">https://ergast.com/mrd/</a></p>
  <p class="text-center" style="margin-top: 2vh; font-size: max(1.4vw, 2vh)">Flagpedia: <a href="https://flagpedia.net">https://flagpedia.net</a></p>
</div>



